body{
    margin: 0;
    padding: 0;
    font-family: Arial;
 }
h1 h2 h3{
    margin: 0px;
    padding: 0px;
}
section {
    background-color: rgb(255, 127, 80);
    color: white;
    width: 50%; 
    height: 410px;
    float: left;
 }

 main{
     clear: both;
 }
header, main{
    background-color: rgb(220, 220, 220);
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
footer{
background-color: rgb(255, 127, 80);
color: white;
width: 50%;
height: 100px;
float: left;
}
table, td{ 
border: 1px solid rgb(255, 127, 80);
padding: 10px;
text-align: center;
}