@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.main {
    position: relative;
    max-width: 900px;
    min-height: 440px;
    margin: 102px auto auto;
}
.arrow_main{
    position: absolute;

}



.description__main {

    max-width: 352px;
    font-size: 12px;
    line-height: 18px;


}

.main_h1 {
    display: flex;
    flex-direction: column;

}
.large_text{
    z-index: 100;
    margin-top: 96px;
    margin-left: 112px;
}
.main__h1_top {
    justify-self: center;
    align-self: center;
    margin-right: 10%;
    font-weight: 400;
    font-size: 112px;
    margin-bottom: 0;
    padding-top: 112px;
    font-family: Segoe UI, serif;
}

.main__h1_bot {
    position: relative;
    font-weight: 400;
    font-size: 112px;
    right: 195px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Segoe UI, serif;
    line-height: 130px;
}


.description_m {
    margin-top: 25px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.description__main {
    margin-right: 85px;
    font-size: 14px;
    line-height: 21px;
}

.more_main {
    font-size: 18px;
    margin-top: 0;
    margin-right: 85px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
}


.some {
    width: 26%;
}
/*Ну ебать, это галерея*/
.gallery {
    margin-top: 374px;
    border-bottom: 1px solid black;
    font-family: Segoe UI, serif;
    padding-bottom: 0;

}

.gallery_description_all {
    font-size: 18px;
    margin: 0;
    margin-left: 67px;
    margin-bottom: 42px;
}

.gallery_tittle {
    margin-top: 42px;
    font-size: 112px;
    margin-bottom: 0px;
    margin-left: 67px;
    
}

.gallery_1 {
    display: flex;
    position: relative;
    flex-direction: column;
}

.gallery_all {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    position: relative;
}

.gallery_all::after {
    z-index: 20;
    position: absolute;
    opacity: 0;
    left: 900px;
    /* top: -84px; */
    top: -50%;
    transition: 0.2s ease-in-out;
}

.gallery_all:hover::after {
    opacity: 1;
}

.gallery_1::after {
    content: url(../img/1.png);
}

.gallery_2::after {
    content: url(../img/2.png);
}

.gallery_3::after {
    content: url(../img/3.png);
}

.gallery_4::after {
    content: url(../img/4.png);
}


.description_mm {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 48px;
    max-width: 400px;
}

.description_mm .more_main {
    display: inline-block;
    position: relative;
}

.description_mm .more_main::before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: -4%;
    width: 135%;
    height: 59%;
    background-color: #E5F34E;
    z-index: -1;
    transition: 0.25s;
}

.description_mm .more_main:hover::before {
    content: '';
    position: absolute;
    bottom: -20%;
    left: -4%;
    width: 145%;
    height: 59%;
    background-color: #E5F34E;
    z-index: -1;
    transition: 0.25s;
}

.more_main::after {
    content: '→ ';
    position: absolute;
    transition: 0.25s;
    margin-left: 10px;

}

.more_main:hover::after {
    margin-left: 20px;
    transition: 0.25s;
}