
body {
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  background-color: rgb(160, 153, 153);
}
img{
  border: 2px solid #000000;;
  margin: 10px;
}
button{
  background-color: #bbb5aa; /* Green */
  border: 0px solid;;
  color: rgb(48, 40, 40);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  outline: none;

}
button:hover{
  background-color: #525252;
  margin: px;
}
button:active{
  outline: none;
  }

/* .pre2 {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #000000;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
} */
.wrapper {
  display: block;
}

.pre2{
  width: 500px;
  height: 250px;
  display: block;
  padding: 0px;
  background-color: white;
  overflow-y: auto;
  font-family: monospace;
  font-size: 15px;

}
.span{
  font-family: monospace;
  font-size: 15px;
  margin-top: 5px;
  width: 100px;
}
.li{
  display: flex;
  flex-direction: column;
}