.button-wrapper {
    height: 300px;
    padding: 50px;
    border: 1px solid grey;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    position: relative;
}
#my-button {
    padding: 10px;
    font-size: 30px;
    position: absolute;
    transition: all 0.07s linear 0s;
}