@font-face {
    font-family: 'circe';
    src: url('../../../fonts/circe-bold-webfont.woff2') format('woff2'),
         url('../../../fonts/circe-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'circe';
    src: url('../../../fonts/circe-light-webfont.woff2') format('woff2'),
         url('../../../fonts/circe-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'circe';
    src: url('../../../fonts/circe-regular-webfont.woff2') format('woff2'),
         url('../../../fonts/circe-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

*{
    margin: 0;
    padding: 0;
}


.main{
    margin: auto;
    width: 80%;
}
.tittle__img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tittle__img_plan{
    margin: auto;
    width: 65%;
    object-fit: cover;
   
}



.tittle__description{
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
    margin-top: 40px;
}
.block__left{
  
   margin-right: 60px;

}
.block__right{
    padding-left: 60px;
    border-left: 2px solid black;
    width: auto;
    font-family: 'circe';
    line-height: 28px;
    font-weight: 200;
}


.block__left_tittle{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'circe';
    font-weight: 700;
}
.block__left_description{
    font-family: 'circe';
    font-weight: 200;
}
/* Это пиздец как я заебался */

.tasker{
    margin-top: 100px;
    display: grid;
    height: auto;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px 10px;
}


.task{

    font-family: 'circelight';
    display: flex;
    
    align-items: center;
    
}
.task__item{
    width: 80%;
    margin-left: 14%;
}

.task__step{
    font-family: 'circe';
    font-weight: 200;
}


.task__arrow{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
}


.task__tittle{
    margin-bottom: 20px;
    font-family: 'circe';
    font-weight: 700;
  
    
}

.tasker__img{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img_s{
  width: 100%;
  object-fit: cover;
}




 
.team{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 117px;
    text-overflow: clip;
    
}
.team__img__description{
    position: absolute;
    bottom: 85%;
    top: 30px;
    left: 70%;
    border: 1px rgba(0, 128, 0, 0) solid;
    margin-left: 40px;
}

.team__img__img{
     width: 100%;
    object-fit: cover;
     
    top: 0;
    left: 0;
    border: 1px rgba(255, 0, 0, 0) solid;
}

.team__img{
position: relative;
top: 0;
left: 0;

}

.team__item_all{
    width: 70%;
}

.team__item {
    display: flex;
flex-direction: column;
margin-left: 15%;
}
.team__item__tittle {
    font-family: 'circe';
    font-weight: 700;
    margin-bottom: 20px;
    justify-self: start;
    align-self: flex-start;
}
.team__item__description {
    font-family: 'circe';
    font-weight: 200;
    margin-bottom: 10px;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    /* align-items: center; */
}

.elem1::before{
    content: url(../../../img/icon1.svg);
    margin-right: 10px;
    margin-top: 5px;
}
.elem2::before{
    content: url(../../../img/icon2.svg);
    margin-right: 10px;
    margin-top: 5px;
}
.elem3::before{
    content: url(../../../img/icon3.svg);
    margin-right: 10px;
    margin-top: 5px;
}
.elem4::before{
    content: url(../../../img/icon4.svg);
    margin-right: 10px;
    margin-top: 5px;
}
.elem5::before{
    content: url(../../../img/icon5.svg);
    margin-right: 10px;
    margin-top: 5px;
}



@media (max-width: 689px){
    .pr1__top_description{
        width: 100% !important; 
    }
    .pr1__bottom_img{
        grid-template-columns: repeat(auto-fit, 100px) !important; 
        margin-top: 19px !important;
        margin-left: 25px !important;
        margin-bottom: 40px;   
    }

    .pr1__middle_img{
        grid-template-columns: repeat(auto-fit, 100px) !important; 
        margin-top: 19px !important;
        margin-left: 25px !important;
        margin-bottom: 40px;    
    }
    


    .block__right{
        margin-left: 0px;
        margin-top: 10px;
        padding-left: 0px;
        border-top: 1px solid rgb(199, 199, 199);
        border-left: none;
        width: auto;
    }

    .tittle__img_plan{
        margin: auto;
        width: 100%;
        object-fit: cover;
       
    }

    .tittle__description{
         margin-top: 60px;
     }
   
        
.tasker{
    row-gap: 40px;
    margin: 40px 0px 40px 0px;
    display: grid;
    height: auto;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .team{
    grid-template-columns: 1fr;
   }
   .team__item__tittle{
       margin-top: 40px;
   }
}
.pr1{
    margin-top: 182px;
}

.pr1__top{
    display: flex;
}

.pr1__top_tittle{
    text-transform: uppercase;
    font-family: 'circe', sans-serif;
    font-weight: 400;
    margin-right: 14px;
}
.pr1__top_description{
    font-family: 'circe', sans-serif;
    font-weight: 200;
    width: 30%;
}




.pr1__middle{
    display: flex;
}

.card1__img_description{
    width: 70%;
    text-align: center;
}

.pr1__middle_img{   
    width: 100%;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    margin-left: 120px;
    column-gap: 50px;
}




.pr1__bottom{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.card2__img_description{
    text-align: center;
}
.pr1__bottom_img{
    width: 100%;
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    margin-left: 120px;
    column-gap: 50px;
}
.pr1__bottom_text{
    display: flex;
}
.pr1__bottom_tittle{
    text-transform: uppercase;
    font-family: 'circe', sans-serif;
    font-weight: 400;
    margin-right: 14px;
}
.pr1__bottom_description{
    font-family: 'circe', sans-serif;
    font-weight: 200;
}

.card__element{
    
    display: flex;
    flex-direction: column;
    font-family: 'circe', sans-serif;
    font-weight: 200;
    align-items: center;
   
     
}


.card2__img_img{
    width: 94px;
    height: 94px;
    margin-bottom: 15px;
}




.pr2{
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    height: 425px;
    margin-top: 278px;
}

.pr2__left{
    width: 333;
background-color: blanchedalmond;
}

.pr2__middle{
background-color: burlywood;
}

.pr2__right{
background-color: cadetblue;
}